<p><%= @product.description %></p>
<h2>商品名：<%= @product.title %></h2>
<h2>价格：¥ <%= @product.price %></h2>
<h2>库存：<%= @product.quantity %></h2>
<h2>新增时间：<%= @product.created_at %></h2>
<h2>修改时间：<%= @product.updated_at %></h2>
