<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Product List</h2>
    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="col-xs-6 col-md-3">
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail" ) %>
              <% end %>
              <div><%= product.title %> : ¥<%= product.price %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
