<footer class="text-center">
  <div class="row">
    <div class="col-md-4">
      <dl>
        <dt>服务支持</dt>
        <dd><%= link_to "售后政策", '#' %></dd>
        <dd><%= link_to "自助服务", '#' %></dd>
        <dd><%= link_to "相关下载", '#' %></dd>
      </dl>
    </div>
    <div class="col-md-4">
      <dl>
        <dt>关于Drone-X</dt>
        <dd><%= link_to "关于我们", '#' %></dd>
        <dd><%= link_to "精彩活动", '#' %></dd>
        <dd><%= link_to "联系我们", '#' %></dd>
      </dl>
    </div>
    <div class="col-md-4">
      <dl>
        <dt>帮助中心</dt>
        <dd><%= link_to "账户管理", '#' %></dd>
        <dd><%= link_to "购物指南", '#' %></dd>
        <dd><%= link_to "订单操作", '#' %></dd>
      </dl>
    </div>
  </div>
  <p>Copyright ©2017 Drone-X <%= link_to "隐私政策", '#' %> | <%= link_to "使用条款", '#' %>
     <br>Design by <a href="http://shimmy-blog.logdown.com/" target="_blank">shimmy</a> |
     <a href="http://chanweiyan.logdown.com" target="_blank">chanweiyan</a>
  </p>
</footer>
